body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto';
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  text-align: center;
  & span {
    font-size: 12px;
    display: block;
    font-weight: 400;
    color: rgb(173, 15, 15);
    margin-top: 10px;
  }
}

.error {
  color: rgb(173, 15, 15);
  font-size: 12px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

label {
  & > span {
    display: block;
    flex: 0 0 100px;
  }
}

button {
  a {
    display: inline-flex;
  }
}

.form__prompt {
  p {
    margin: 0;
    font-size: 12px;
  }
  button {
    font-size: 11px;
  }
}
.add__user {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-bottom: 1rem;
  @media (max-width: 1000px) {
    position: static;
    border-radius: 0;
    width: 100%;
    & button {
      width: 100%;
    }
  }
}
